In [2]:
# !pip install pandas

import pandas as pd

### 타이타닉 파일 확인

In [3]:
# titanic_train.csv 파일 읽어오기
titanic_df = pd.read_csv('data-files/titanic_train.csv')
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [9]:
# titanic_df 기본 정보 확인

# titanic_df 타입 확인
print('titanic 변수 type : ', type(titanic_df))

# titanic_df 크기 확인
print( 'DataFrame 크기 : ', titanic_df.shape )

# titanic_df 메타 데이터 확인
print( titanic_df.info() )

# titanic_df 데이터 분포도 확인
print( titanic_df.describe() )

titanic 변수 type :  <class 'pandas.core.frame.DataFrame'>
DataFrame 크기 :  (891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [10]:
# value_counts() 함수를 사용해 칼럼값의 유형과 건수 확인
value_counts = titanic_df['Pclass'].value_counts()
print( value_counts )

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [13]:
# titanic_df['Pclass']의 데이터 타입 확인
titanic_pclass = titanic_df['Pclass']
print( type(titanic_pclass) )

# titanic_df['Pclass']의 ( 인덱스, 데이터값 ) 확인
print( titanic_pclass.head() )

<class 'pandas.core.series.Series'>
0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

### ndarray, list, dictionary, DataFrame의 변환

In [ ]:
import numpy as np

col_name1=['col']